
/* Tablet brekpoint */

@media screen and (max-width:1400px){
    .previewSection{
        right: 0px!important;
    }
}


@media screen and (max-width:800px){
    .previewSection{
        width: 50%;
    }

    .requestQoute .userAvDestail .userAvatar, .requestQoute .userAvDestail .userDestail{
        width: 100%;
    }
}

@media screen and (max-width:500px){
    .previewSection{
        width: 100%;
        position: relative;
    }

    .previewDetails{
        width: 100%;
    }

    .selectRates .dropdown-toggle{
        font-size:18px!important;
    }

    .form-inputs{
        flex-direction: column;
    }

    .body-form h6{
        font-size: 30px;
    }

    .form-inputs .frmInput{
        width: 100%!important;
    }

    .btn-group{
        width: 100%!important;
    }

    #step6 .form-title label{
        font-size: 14px!important;
        padding: 10px;
    }

    .genderInput{
        width: 100%;
    }
}


@media (max-width: 800px) {
  
    .logo {
        width: 120px;
    }

    .thankyou-container {
        padding: 50px 20px !important;
    }

    /* For Thank you page */
    .Thankyou .form-container {
        gap: 20px;
    }

    .col-100 {
        width: 100%;
    }

    .footer-img {
        justify-content: flex-start !important;
    }


}


/* Mobile breakpoint */

@media (max-width: 620px) {

    .body-form {
        height: auto;
    }

    .tab.formSelect {
        width: 100%;
      }

    .custom-title {
        width: 100%;
    }

    .footer-img {
        justify-content: flex-start !important;
    }

    .footer-bottom-container {
        justify-content: center !important;
    }

    .footer-bottom-container p, .footer-bottom-anchor a {
        font-size: 10px;
    }

    .social-icons i {
        font-size: 10px;
        padding: 5px 8px;
    }

}

@media (max-width: 500px) {

    .life-insurance img {
        height: 200px;
        object-fit: contain;
    }

    .footer .btn-quote {
        width: 100%;
    }

    .body-form{
        padding: 0px;
    }

    .slider-container, .covItem{
        width: 100%;
    }

    .initResultCards{
        flex-direction: column;
    }

    .initresTop{
        flex-direction: column;
    }
    
    .initresLogo{
        position: relative;
        width: 200px;
        margin-bottom: 20px;
    }

    .logoTextSec{
        flex-direction: column;
    }

    .logoTextSec img{
        margin-bottom: 20px;
    }

    .tab-form{
        width: 100%;
    }

    .tabsbar{
        flex-direction: column;
    }

    .statusSec, .PartiesSec{
        flex-direction: column;
    }


    .tabLslide{
        flex: 1!important;
    }
}